<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Authentication</title>
    <meta charset="utf-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<!--
<script>
   function statusChangeCallback(response) {
       console.log('statusChangeCallback');
       console.log(response);
       if (response.status === 'connected') {
           testAPI();
       } else if (response.status === 'not_authorized') {
//            document.getElementById('status').innerHTML = 'Please log ' +
//                    'into this app.';
       } else {
//            document.getElementById('status').innerHTML = 'Please log ' +
//                    'into Facebook.';
       }
   }

   function checkLoginState() {
       FB.getLoginStatus(function(response) {
           statusChangeCallback(response);
       });
   }

   window.fbAsyncInit = function() {
       FB.init({
           appId      : '878110185571614',
           cookie     : true,  // enable cookies to allow the server to access
                               // the session
           xfbml      : true,  // parse social plugins on this page
           version    : 'v2.2' // use version 2.2
       });

       FB.getLoginStatus(function(response) {
           statusChangeCallback(response);
       });

   };

   (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function testAPI() {
       console.log('Welcome!  Fetching your information.... ');
//        FB.api('/me', function(response) {
       FB.api('/me', function(response) {
           console.log('Successful login for: ' + response.name);
//            document.getElementById('status').innerHTML =
//                    'Thanks for logging in, ' + response.name + '!';
       });
   }
<!--</script>-->

    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Вход</h1>
            <p>Войдите или зарегистрируйтесь:</p>
            <a href="/auth/facebook"  class="btn btn-default"><span class="fa fa-user"></span> Войти через Facebook</a>
            <a href="/auth/twitter"  class="btn btn-default" ><span class="fa fa-user"></span> Войти через Twitter</a>
            <a href="/auth/google"  class="btn btn-default" ><span class="fa fa-user"></span> Войти через Google+</a>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Войти</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Регистрация</a>

            <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">-->
            <!--</fb:login-button>-->

            <!--<div id="status"></div>-->
        </div>
    </div>
</body>
</html>