body{margin-bottom: 50px;}
.custom-textarea{ margin-bottom: 10px; cursor: pointer !important;}
.custom-textarea-inside{ margin: 10px 0; cursor: pointer !important;}
.insideWrapper{width: 100%;}
.inside{margin: 100px auto;}
.custom-btns{margin-right: -15px;}
